/* CSS declarations go here */
* {
  margin:  0;
  padding: 0;
}

body {
  color: #555555;
  font-family: 'Raleway', sans-serif;
}

.title-bar {
  background: #39A0ED;
  color: white;

  h1 {
    font-weight: bold;
    font-size: 2.4rem;
  }
}
