//variables
$blue: #aaceff;
$blue-alt: darken($blue,25%);
$red: #f9b5b5;
$red-alt: darken($red, 25%);
$yellow: #f9f1ba;
$yellow-alt: darken($yellow, 25%);

* {
  margin:  0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(201, 201, 201);
  color: #282828;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
}

input, button, select {
  font-size: 1.3rem;
}

h1 {
  font-weight: bold;
  font-size: 2.4rem;
}



@import './components/_wrapper';
@import './components/_title-bar';
@import './components/_item';
@import './components/_button';
@import './components/_form';
@import './components/_player';
