* {
  margin:  0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(201, 201, 201);
  color: #777777;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-weight: bold;
  font-size: 2.4rem;
}



@import './components/_wrapper';
@import './components/_title-bar';
@import './components/_item';
@import './components/_button';
@import './components/_form';
@import './components/_player';
