* {
  margin:  0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #32322C;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 2.4rem;
}



@import './components/_wrapper';
@import './components/_title-bar';
