.item {
  background: white;
  border: 1px solid #e8e8e8;
  margin-bottom: 1.3rem;
  padding: 1.3rem;
}

.item--position-1 {
  background: rgb(62, 121, 199);
}
.item--position-2 {
  background: rgb(201, 89, 89);
}
.item--position-3 {
  background: rgba(207, 192, 92, 0.96);
}

.item__message {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}
